<div id="slider_body">
    <div class="slide"
         ng-class="{active: currentSlide==1}">
        <h1>Slide One</h1>
        <button ng-click="answerQuestion()">One</button>
        <button ng-click="answerQuestion()">Two</button>
        <button ng-click="answerQuestion()">Three</button>
        <button ng-click="answerQuestion()">Four</button>
    </div>

    <div class="slide"
        ng-class="{active: currentSlide==2}">
        <h1>Slide Two</h1>
        <button ng-click="answerQuestion()">True</button>
        <button ng-click="answerQuestion()">False</button>
    </div>

    <div class="slide"
        ng-class="{active: currentSlide==3}">
        <h1>Slide Three</h1>
        <button ng-click="answerQuestion()">True</button>
        <button ng-click="answerQuestion()">False</button>
    </div>

    <div class="slide"
        ng-class="{active: currentSlide==4}">
        <h1>Slide Four</h1>
        <button ng-click="answerQuestion()">True</button>
        <button ng-click="answerQuestion()">False</button>
    </div>

</div>